Vendor/ffmpeg/ReelFFmpeg.xcframework/**/Versions/A/ReelFFmpeg filter=lfs diff=lfs merge=lfs -text
Vendor/ffmpeg/ReelFFmpeg.xcframework/**/*.dylib filter=lfs diff=lfs merge=lfs -text
Packages/TextEngine/Sources/TextEngine/Resources/Tectonic/tectonic filter=lfs diff=lfs merge=lfs -text
